/* http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css */ html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

@font-face {
    font-family: 'MinionProRegular';
    src: url('./font/minionpro-regular-webfont.eot');
    src: local('☺'), url('./font/minionpro-regular-webfont.woff') format('woff'), url('./font/minionpro-regular-webfont.ttf') format('truetype'), url('./font/minionpro-regular-webfont.svg#webfontLMFKzVKf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionProItalic';
    src: url('./font/minionpro-it-webfont.eot');
    src: local('☺'), url('./font/minionpro-it-webfont.woff') format('woff'), url('./font/minionpro-it-webfont.ttf') format('truetype'), url('./font/minionpro-it-webfont.svg#webfontTSzmlB8O') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wf-loading { visibility: hidden; }
.wf-active { visibility: visible; }


i {
    font-family: MinionProItalic, Georgia, serif;
    font-weight: normal;
    font-style: normal;
    font-size-adjust: 0.44;
}

em {
    color: #000;
}

a {
    color: #FF5F4D;
    text-decoration: underline;
}
a.text-link:hover {
    opacity: 0.7;
}

p, a {
    transition: all 150ms ease;
    -o-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -webkit-transition: all 150ms ease;
}

.right {
    float: right;
}

.left {
    float: left;
}

body {
    width: 90%;
    max-width: 1034px;
    margin: 72px auto 32px;
    font-size: 16px;
    font-family: 'MinionProRegular', Georgia, serif;
    font-weight: normal;
    font-style: normal;
    font-size-adjust: 0.44;
    line-height: 2;
}

.content {
    display: box;
    display: -o-box;
    display: -ms-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
}

.about {
    box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin-right: 64px;
}

h1, h2 {
    font-size: 1.9em;
    line-height: 1.6875;
}

h1 {
    color: #FF5F4D;
}

.intro {
    margin: 32px 0;
}
.intro p {
    margin: 16px 0;
}

.contact {
    margin-bottom: 32px;
}
.contact a {
    color: black;
    text-decoration: none;
}

.projects {
    width: 570px;
}
.projects li {
    padding: 1em 0 0.875em;
    border-top: 1px solid #F8F8F8;
}
.projects li::after {
    content: " ";
    display: block;
    clear: both;
}
.projects li.last-update {
    font-size: 0.875em;
}

.intro,
.projects li {
    color: #AAA;
}

.thumb {
    position: relative;
    margin: 0.75em 1.25em;
    transition: all 130ms ease;
    -o-transition: all 130ms ease;
    -ms-transition: all 130ms ease;
    -moz-transition: all 130ms ease;
    -webkit-transition: all 130ms ease;
}

.thumb.right {
    margin-right: 0;
}

.thumb.left {
    margin-left: 0;
}

.thumb.entered {
    top: 3px;
}

.thumb img {
    box-shadow: 0 2px 12px #D5D5D5;
}

.photography img,
.colorblock img,
.climate img,
.photography img,
.nicole img,
.belmont img {
    width: 9.375em;
}

.threewiki img {
    width: 4.5em;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    box-shadow: 0 2px 8px #E5E5E5;
}

.poptip {
    position: absolute;
    top: 103%;
    left: 50%;
    width: 14em;
    margin-left: -8em;
    padding: 0.5em 1em;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif; 
    font-size: 0.6875em;
    color: #FFF;
    background: #111;
    background: rgba(0, 0, 0, 0.75);
    line-height:1.5em;
    z-index: 99;
    border-radius: 2px;
}
.poptip::before {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.75);
}


/* For non-touch devices */

html.no-touch .intro:hover,
html.no-touch .projects li:hover {
    color: black;
}

html.no-touch .intro:not(:hover) a,
html.no-touch .projects li:not(:hover) a {
    color: #AAA;
    text-decoration: none;
}



/* For touch devices */

html.touch em {
    color: inherit;
}

html.touch .intro a.text-link,
html.touch .projects li a.text-link {
    color: #FF5F4D;
    text-decoration: underline;
}



@media only screen and (max-device-width: 920px),
only screen and (max-width: 920px) {
    body {
        margin: 32px auto;
    }

    .content {
        display: box;
        display: -o-box;
        display: -ms-box;
        display: -moz-box;
        display: block;
    }

    .about {
        margin-right: 0;
    }

    .projects {
        width: 100%;
    }

    .right {
        float: left;
    }

    .thumb.right,
    .thumb.left {
        margin: 0.75em 1.375em 0 0;
    }
}

@media only screen and (max-device-width: 600px),
only screen and (max-width: 600px) {

    .projects li.website p,
    .projects li.visualization p {
        clear: both;
    }
}

@media only screen and (max-device-width: 480px) {

    body {
        font-size: 32px;
    }

    .projects li {
        border-top: 2px solid #EEE;
    }

    .photography img,
    .colorblock img,
    .climate img,
    .photography img,
    .nicole img,
    .belmont img {
        width: 12.25em;
    }
}
